
.site-content {
    padding-top: 120px;
    padding-bottom: 120px;

    &.no-padding {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .widget-area {
        .widget {
            margin-bottom: 33px;

            &:last-child {
                margin-bottom: 0;
            }

            .widget-title {
                font-weight: 700;
                font-size: 18px;
                line-height: 1.555555;
                color: $title-color-01;
                text-transform: uppercase;
                word-break: break-word;
                padding-top: 0;
                margin-bottom: 23px;
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            margin-top: -5px;

            ul {
                margin-top: 11px;
            }

            li {
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                color: #6c6c6c;
                word-break: break-word;
                padding-left: 17px;
                position: relative;
                transition: all .2s;
                margin-bottom: 11px;

                &:last-child {
                    margin-bottom: 0;
                }

                &::before {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 5px;
                    background: $primary-color;
                    border-radius: 50%;
                    position: absolute;
                    top: 10px;
                    left: 0;
                }

                a {
                    color: inherit;
                    transition: all .2s;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        .widget_search {
            .search-form {
                position: relative;
                margin-top: -6px;

                label {
                    width: 100%;
                    margin: 0;

                    span {
                        display: none;
                    }

                    input {
                        border: none;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 1.5;
                        color: $text-color-01;
                        width: 100%;
                        height: 40px;
                        background-color: transparent;
                        padding: 0 25px 0 0;
                        border-bottom: 1px solid #e7e7e7;

                        &:focus {
                            border-color: $primary-color;
                        }

                        &::-webkit-input-placeholder {
                            color: #6c6c6c;
                        }

                        &:-moz-placeholder {
                            color: #6c6c6c;
                        }

                        &::-moz-placeholder {
                            color: #6c6c6c;
                        }

                        &:-ms-input-placeholder {
                            color: #6c6c6c;
                        }
                    }
                }

                .search-submit {
                    padding: 0;
                    background: transparent;
                    position: absolute;
                    top: 0;
                    right: -9px;
                    width: 30px;
                    height: 100%;
                    font-size: 20px;
                    line-height: 1;
                    color: #6c6c6c;
                    transition: all .2s;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        .widget_categories {
            ul {
                ul {
                    margin-right: -40px;
                }

                li {
                    padding-right: 40px;

                    a {
                        &[href] {
                            padding-right: 10px;
                        }
                    }

                    .count {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }
        }

        .widget_posts {
            .post-list {
                padding-bottom: 7px;

                .post-item {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-bottom: 30px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .post-image {
                        width: 97px;

                        img {
                            width: 100%;
                        }
                    }

                    .post-text {
                        width: calc(100% - 97px - 19px);
                        align-self: center;

                        .title {
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 1.25;
                            color: $title-color-01;
                            text-transform: none;
                            word-break: break-word;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            margin-bottom: 10px;

                            a {
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                max-height: calc(1.25 * 2em);
                                color: inherit;
                                transition: all .2s;

                                &:hover {
                                    color: $primary-color;
                                }
                            }
                        }

                        .info {
                            font-weight: 400;
                            color: $text-color-01;
                            font-size: 14px;
                            line-height: 1.5;
                            word-break: break-word;
                        }
                    }
                }
            }
        }

        .widget_course {
            .course-list {
                padding-bottom: 7px;

                .course-item {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-bottom: 30px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .course-image {
                        width: 97px;

                        img {
                            width: 100%;
                        }
                    }

                    .course-text {
                        width: calc(100% - 97px - 19px);
                        align-self: center;

                        .title {
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 1.25;
                            color: $title-color-01;
                            text-transform: none;
                            word-break: break-word;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            margin-bottom: 9px;

                            a {
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                max-height: calc(1.25 * 2em);
                                color: inherit;
                                transition: all .2s;

                                &:hover {
                                    color: $primary-color;
                                }
                            }
                        }

                        .price-course {
                            font-size: 14px;
                            font-weight: 600;
                            color: #e9011f;
                        }
                    }
                }
            }
        }

        .widget_tag_cloud {
            .tagcloud {
                display: flex;
                flex-wrap: wrap;
                margin: -4px;

                .tag-cloud-link {
                    font-weight: 600;
                    font-size: 14px !important;
                    line-height: 1.5;
                    color: #6c6c6c;
                    word-break: break-word;
                    display: block;
                    border: 1px solid #e5e5e5;
                    padding: 5px 22px;
                    margin: 4px;
                    transition: all .2s;

                    &:hover {
                        color: #fff;
                        background-color: $primary-color;
                        border-color: $primary-color;
                    }
                }
            }
        }

        .widget_info {
            .content-info {
                text-align: center;
                @include bg-gradient-angle(60deg, #ff3b47, #4638b4);
                padding: 35px 20px 40px 20px;

                .title-block {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 1.5;
                    color: #fff;
                    word-break: break-word;
                    padding-top: 0;
                    margin-bottom: 9px;
                }

                .description-block {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.3;
                    color: #edebff;
                    word-break: break-word;
                    margin-bottom: 18px;
                }

                .content-block {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 1.3;
                    color: #fff;
                    word-break: break-word;
                    margin-bottom: 23px;
                }

                .button-block {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 1.5;
                    color: #161616;
                    text-transform: uppercase;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 100%;
                    overflow: hidden;
                    height: 40px;
                    border-radius: 20px;
                    background: #fff;
                    padding: 0 35px;
                    transition: all .3s linear;
                    margin-left: auto;
                    margin-right: auto;

                    &:hover {
                        color: #fff;
                    }

                    position: relative;
                    z-index: 0;

                    &::before,
                    &::after {
                        content: '';
                        display: block;
                        width: 50%;
                        height: 50%;
                        position: absolute;
                        z-index: -1;
                        background: darken($primary-color, 10%);
                        border-radius: inherit;
                        opacity: 0;
                        transition: all .3s linear;
                    }

                    &::before {
                        top: 0;
                        left: 0;
                        right: auto;
                    }

                    &::after {
                        bottom: 0;
                        left: auto;
                        right: 0;
                    }

                    &:hover {
                        &:before {
                            width: 100%;
                            height: 100%;
                            top: 100%;
                            bottom: auto;
                            left: 100%;
                            right: auto;
                            opacity: 1;
                            transform: translate(-100%, -100%);
                        }

                        &:after {
                            width: 100%;
                            height: 100%;
                            bottom: 100%;
                            left: auto;
                            right: 100%;
                            opacity: 1;
                            transform: translate(100%, 100%);
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {
        padding-top: 80px;
        padding-bottom: 80px;
        &.sidebar-right {
            .site-main {
                margin-bottom: 100px;
            }
        }

        &.sidebar-left {
            .site-main {
                margin-top: 100px;
            }
        }
    }
    @media (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
        &.sidebar-right {
            .site-main {
                margin-bottom: 60px;
            }
        }

        &.sidebar-left {
            .site-main {
                margin-top: 60px;
            }
        }
    }
}



		


	