
*,
*:before,
*:after {
	margin: 0px; 
	padding: 0px; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {
	font-family: Arial, sans-serif;
	font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: $text-color-01;
	height: 100%;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/*---------------------------------------------*/
a:focus {outline: none;}
a:hover {text-decoration: none;}

/*---------------------------------------------*/
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-weight: 600;
    line-height: 1.3;
    color: $title-color-01;
    font-style: normal;
    margin-bottom: 1rem;
    padding-top: 5px;

	&:first-child {
		padding-top: 0;
	}
    &:last-child {
    	margin-bottom: 0;
    }
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

/*---------------------------------------------*/
p {
	word-break: break-word;
	margin-bottom: 1.75rem;
	&:last-child {
		margin-bottom: 0;
	}
}

blockquote {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.555555;
	color: $title-color-01;
	word-break: break-word;
	padding-left: 45px;
	padding-top: 5px;
	padding-bottom: 8px;
	position: relative;
	margin-bottom: 28px;

	&::before {
		content: '‘‘';
		font-weight: 500;
		font-style: normal;
		font-size: 100px;
		line-height: 1;
		color: $primary-color;
		position: absolute;
		top: 0px;
		left: -5px;
		letter-spacing: -5px;
	}
}

/*---------------------------------------------*/
ul, ol {
	margin-left: 20px;
	margin-bottom: 1.75rem;
	&:last-child {
		margin-bottom: 0;
	}
	li {
		margin-bottom: 0.5rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}


/*---------------------------------------------*/
label {
	display: block;
	outline: none;
	margin: 0;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea {
	outline: none;
	min-width: 1px;
	width: 100%;
	line-height: 40px;
	background: transparent;
	padding: 0 18px;
	border: 1px solid #e5e5e5;
	
	&:focus {
		outline: none;
		box-shadow: none;
	}
}

button {
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;
	&:focus {
		outline: none;
	}
}

iframe {
	border: none;
	display: block;
}


/*---------------------------------------------*/
img {
  	max-width: 100%;
	height: auto;
}


/*\
 *
 * Restyle bootstrap
 *
\*/
@media (min-width: 1470px) {
  	.wide-container .container {
    	max-width: 1370px;
  	}	
}


@media (min-width: 1300px) {
  	.container {
    	max-width: 1200px;
  	}	
}

.container {
	padding-right: 20px;
	padding-left: 20px;
}

.row {
	margin-right: -20px;
	margin-left: -20px;
}

.col,
[class*="col-"] {
	padding-right: 20px;
	padding-left: 20px;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
	
	.col,
	[class*="col-"] {
		padding-right: 0px;
		padding-left: 0px;
	}
}


/*\
 *
 * Restyle Slick
 *
\*/
.slick-slide:focus {outline: none;}


/*\
 *
 * Magnific-popup
 *
\*/
button.mfp-close {
	background: transparent;
}

button.mfp-arrow {
	background-color: transparent;
	border-radius: 0px;
	transition: all .2s;

	&:hover {
		background-color: transparent;
	}
}

// Fade Magnific-popup
.mfp-bg {
	z-index: 10000;
	background-color: #000;
	opacity: 0.9;
}

.mfp-wrap {
	z-index: 10000;
}

/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.9;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

@-o-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

.mfp-figure {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -ms-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}