

$font-01: Poppins;
$font-02: Poppins;

$primary-color: #41d3bd;
$primary-color-R: 65;
$primary-color-G: 211;
$primary-color-B: 189;

$primary2-color: #614ef9;
$primary2-color-R: 97;
$primary2-color-G: 78;
$primary2-color-B: 249;

$title-color-01: #000;
$text-color-01: #6c6c6c;

$header-btn-bg: #41d3bd;
$header-btn-text: #fff;

$header-background-color: #614ef9;
$main-menu-color: #fff;
$main-menu-hover-color: #41d3bd;
$sticky-menu-background-color: #614ef9;
$sticky-menu-text-color: #fff;
$sticky-menu-text-color-hover: #41d3bd;
$sub-menu-background-color: #fff;
$sub-menu-text-color: #000;
$sub-menu-text-color-hover:#41d3bd;

$footer-background-color: #614ef9;
$footer-color-title:#fff;
$footer-color-text:#e1e1e1;
$footer-color-link:#e1e1e1;
$footer-color-hover:#41d3bd;