/*[ pricing ]
//////////////////////////////////////////////////////////////////*/

/*\
 *
 * sec-pricing-01
 *
\*/
.sec-pricing-01 {
	padding-top: 109px;
	margin-bottom: -14px;

	.element-heading {
		max-width: 730px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 51px;

		.title {
			margin-bottom: 22px;
		}
	}
}