

$font-01: Raleway;
$font-02: Raleway;

$primary-color: #ec5252;
$primary-color-R: 236;
$primary-color-G: 82;
$primary-color-B: 82;

$primary2-color: #1f2636;
$primary2-color-R: 31;
$primary2-color-G: 38;
$primary2-color-B: 54;

$title-color-01: #1f2636;
$text-color-01: #6c6c6c;

$header-btn-bg: #ec5252;
$header-btn-text: #fff;

$header-background-color: #fff;
$main-menu-color: #273044;
$main-menu-hover-color: #ec5252;
$sticky-menu-background-color: #fff;
$sticky-menu-text-color: #273044;
$sticky-menu-text-color-hover: #ec5252;
$sub-menu-background-color: #fff;
$sub-menu-text-color: #273044;
$sub-menu-text-color-hover:#ec5252;

$footer-background-color: #1f2636;
$footer-color-title:#fff;
$footer-color-text:#c6c6c6;
$footer-color-link:#c6c6c6;
$footer-color-hover:#ec5252;