
$font-01: Raleway;
$font-02: Raleway;


$primary-color: #e9011f;
$primary-color-R: 233;
$primary-color-G: 1;
$primary-color-B: 31;

$primary2-color: #252525;
$primary2-color-R: 37;
$primary2-color-G: 37;
$primary2-color-B: 37;

$title-color-01: #161616;
$text-color-01: #5d5d5d;

$header-btn-bg: #e9011f;
$header-btn-text: #fff;

$header-background-color: #fff;
$main-menu-color: #161616;
$main-menu-hover-color: #e9011f;
$sticky-menu-background-color: #fff;
$sticky-menu-text-color: #161616;
$sticky-menu-text-color-hover: #e9011f;
$sub-menu-background-color: #fff;
$sub-menu-text-color: #161616;
$sub-menu-text-color-hover:#e9011f;
$font-topbar-color: #161616;
$topbar-background-color: transparent;

$footer-background-color: #252525;
$footer-color-title:#fff;
$footer-color-text:#a2a2a2;
$footer-color-link:#a2a2a2;
$footer-color-hover:#e9011f;

