

$font-01: Open Sans;
$font-02: Open Sans;

$primary-color: #fdb813;
$primary-color-R: 253;
$primary-color-G: 184;
$primary-color-B: 19;

$primary2-color: #00387a;
$primary2-color-R: 0;
$primary2-color-G: 56;
$primary2-color-B: 122;

$title-color-01: #003a78;
$text-color-01: #363636;

$header-btn-bg: #fdb813;
$header-btn-text: #fff;

$header-background-color: #00387a;
$main-menu-color: #fff;
$main-menu-hover-color: #fdb813;
$sticky-menu-background-color: #00387a;
$sticky-menu-text-color: #fff;
$sticky-menu-text-color-hover: #fdb813;
$sub-menu-background-color: #fff;
$sub-menu-text-color: #000;
$sub-menu-text-color-hover:#fdb813;

$footer-background-color: #002348;
$footer-color-title:#fff;
$footer-color-text:#b3c5d9;
$footer-color-link:#b3c5d9;
$footer-color-hover:#fdb813;