<!DOCTYPE html>
<html lang="en">
<head>
	<title>Courses</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="assets/images/logo-tutor-online1.png"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome/css/font-awesome.min.css?v=1">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="assets/fonts/ionicons/css/ionicons.min.css?v=1">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="assets/libs/bootstrap/bootstrap.min.css?v=1">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="assets/libs/slick/slick.css?v=1">
	<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="assets/libs/magnific-popup/magnific-popup.css?v=1">
	<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="assets/libs/animsition/animsition.min.css?v=1">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css?v=1">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="assets/css/style-2.css?v=1.1">
	<!--===============================================================================================-->


</head>
<body class="animsition">

<div id="wrapper-container">

	<!-- Header -->
	<header class="site-header sticky-header header-overlay layout-2 hight-light-first-letter">
	<!-- <header class="site-header sticky-header layout-2"> -->
		<div class="header-inner element-to-stick">
			<div class="container">
				<div class="wrap-content-header">
					<div class="header-logo">
						<a href="index.html" class="logo">
							<img src="assets/images/logo-tutor-online1.png" alt="IMG" data-retina="assets/images/logo-tutor-online1.png" data-sticky="assets/images/logo-tutor-online1.png" data-mobile="assets/images/logo-tutor-online1.png">
						</a>
					</div>

					<nav class="main-navigation">
						<ul class="menu-lists">
							<li class="menu-item-has-children">
								<a href="index.html">
									Home
								</a>
							</li>

							<li class="menu-item-has-children">
								<a href="about.html">
									About
								</a>
							</li>

							<li class="menu-item-has-children">
								<a href="courses.html">
									Courses
								</a>
							</li>

							<li class="menu-item-has-children">
								<a href="tutor.html">
									Tutors
								</a>
							</li>

							<li>
								<a href="contact.html">
									Contact
								</a>
							</li>
						</ul>
					</nav>

					<div class="menu-right">
						<div class="element-search layout-1">
							<div class="search-button"></div>

							<div class="search-form">
								<span class="close-form"></span>

								<form role="search" method="get" class="form-search" >
									<input type="text" class="search-field" name="s"/>
									<span class="search-notice"> Hit enter to search or ESC to close</span>
								</form>

								<ul class="list-search list-unstyled">
								</ul>
							</div>
						</div>

						<!-- shortcode login popup -->
						<div class="element-login-popup layout-1">
							<div class="login-links">
								<a class="login" data-active=".box-login" data-effect="mfp-zoom-in" href="#bp-popup-login">Login</a>
							</div>

							<div id="bp-popup-login" class="white-popup mfp-with-anim mfp-hide">
								<div class="loginwrapper">
									<!-- form register -->
									<div class="login-popup box-register">
										<div class="media-content" style="background-image: url(assets/images/login.jpg);"></div>

										<div class="inner-login">
											<h3 class="title">
												<span class="current-title">Register</span>
												<span>
															<a href="#login" class="display-box" data-display=".box-login">Login</a>
														</span>
											</h3>

											<div class="form-row">
												<div class="wrap-form">
													<div class="form-desc">
														We will need...
													</div>

													<form id="registerform">
														<p class="login-username">
															<input type="text" placeholder="Username"   class="input">
														</p>

														<p class="login-email">
															<input type="email" name="user_email" placeholder="Email"   class="input">
														</p>

														<p class="text-mail">
															We send your registration email to this address.
														</p>

														<p class="button-submit">
															<input type="submit" name="wp-submit" class="button button-primary button-large" value="Register"/>
															<input type="hidden" name="redirect_to" value=""/>
														</p>
													</form>
												</div>
											</div>
										</div>
									</div>
									<!--end form register -->

									<!-- form login -->
									<div class="login-popup box-login">
										<div class="media-content" style="background-image: url(assets/images/login.jpg);"></div>

										<div class="inner-login">
											<h3 class="title">
														<span>
															<a href="#register" class="display-box" data-display=".box-register">Registration</a>
														</span>

												<span class="current-title">Login</span>
											</h3>

											<div class="form-row">
												<div class="wrap-form">
													<div class="form-desc"> We will need... </div>

													<form id="loginform">
														<p class="login-username">
															<input type="text" placeholder="Username"   class="input">
														</p>

														<p class="login-email">
															<input type="email" name="user_email" placeholder="Email"   class="input">
														</p>

														<p class="login-remember">
															<input type="checkbox" name="rememberme" id="rememberme" value="forever">  Remember Me
														</p>

														<p class="button-submit">
															<input type="submit" name="wp-submit" class="button button-primary button-large" value="Login"/>
															<input type="hidden" name="redirect_to" value=""/>
														</p>

														<p class="link-bottom"><a href="#losspw" class="display-box"
																				  data-display=".box-lostpass"></a>
														</p>
													</form>

													<p class="link-bottom"><a href="#losspw" class="display-box"
																			  data-display=".box-lostpass">Lost your password? </a>
													</p>
												</div>
											</div>
										</div>
									</div>
									<!-- end form login -->

									<!-- form lost passwords -->
									<div class="login-popup box-lostpass">
										<div class="login-popup box-lostpass">
											<div class="media-content" style="background-image: url(assets/images/login.jpg);"></div>

											<div class="inner-login">
												<h3 class="title">
															<span>
																<a href="#register" class="display-box" data-display=".box-register">Registration</a>
															</span>

													<span class="current-title"> Reset Password</span>
												</h3>

												<div class="form-row">
													<form name="lostpasswordform" id="lostpasswordform" method="post">
														<p class="description"> Please enter your username or email address. You will receive a link to create a new password via email.
														</p>

														<p class="login-username">
															<input placeholder="Username or email" type="text" name="user_login_lostpass" id="user_login_lostpass" class="input"/>
														</p>

														<p>
															<input type="submit" name="wp-submit-lostpass" id="wp-submit-lostpass" class="button button-primary button-large" value="Reset password"/>
														</p>

														<p class="link-bottom"> Are you a member?
															<a href="#login" class="display-box" data-display=".box-login"> Sign in now </a>
														</p>
													</form>
												</div>
											</div>
										</div>
									</div>
									<!-- end lost passwords -->
								</div>
							</div>
						</div>
						<!-- end shortcode login -->
						<!-- Button toggle menu-mobile -->
						<div class="menu-mobile-effect navbar-toggle">
							<div class="icon-wrap">
								<i class="ion-navicon"></i>
							</div>
						</div>
						<!-- end Button toggle menu-mobile -->
					</div>
				</div>
			</div>
		</div>
	</header>

	<nav class="mobile-menu-container mobile-effect">
		<ul class="nav navbar-nav">
			<li class="menu-item-has-children">
				<a href="index.html">
					Home
				</a>
			</li>

			<li class="menu-item-has-children">
				<a href="about.html">
					About
				</a>
			</li>

			<li class="menu-item-has-children">
				<a href="courses.html">
					Courses
				</a>
			</li>

			<li class="menu-item-has-children">
				<a href="tutor.html">
					Tutors
				</a>
			</li>

			<li>
				<a href="contact.html">
					Contact
				</a>
			</li>
		</ul>
	</nav>
	<!-- end Header -->
	
	<!-- Main content -->
	<div id="main-content">
		<div class="content-area">
			<div class="page-title">
				<div class="main-top" style="background-image: url(assets/images/course.jpg);">
					<span class="overlay-top-header"></span>

					<div class="content container"> 
						<h1>
							
						</h1>

						<!-- <div class="wrap-breadcrumb">
							<ul class="breadcrumbs">
								<li>
									<a href="index.html">
										Home
									</a>
									<span class="breadcrum-icon"> > </span>
								</li>

								<li>
									Courses
								</li>
							</ul>
						</div> -->
					</div>
				</div>
			</div>

			<div class="site-content sidebar-right">
				<div class="container">
					<div class="row">
						<main class="site-main col-lg-9">
							<div class="wrap-main-content">
								<div class="bl-courses-list">
									<div class="row">
										
										<div class="col-md-6 col-xl-4">
											<div class="item-course">
												<div class="image-course">
													<a href="login.html">
														<img src="assets/images/courses/course-02-physics.png" alt="IMG">
													</a>
												</div>

												<div class="text-course">
													<h4 class="title-course">
														<a href="login.html">
															Physics
														</a>
													</h4>

													<div class="description-course">
														Nunc vehicula dignissim magna at finibus. Vestibulum nec eros non nunc tempus
													</div>

													<div class="foot-item">
														<div class="author-course">
															<Span><a href="login.html">
																Enrolled Course
															</a></span>
														</div>

														<div class="info-course">
															<span class="item-info">
																Class 12
															</span>
                                                            <span class="item-info">
																<i class="icon ion-android-person"></i>
																2K
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>

                                        
										<div class="col-md-6 col-xl-4">
											<div class="item-course">
												<div class="image-course">
													<a href="login.html">
														<img src="assets/images/courses/course-03-english.jpg" alt="IMG">
													</a>
												</div>

												<div class="text-course">
													<h4 class="title-course">
														<a href="login.html">
															English
														</a>
													</h4>

													<div class="description-course">
														Nunc vehicula dignissim magna at finibus. Vestibulum nec eros non nunc tempus
													</div>

													<div class="foot-item">
														<div class="author-course">
															<Span><a href="javascript:void(0)">
																Enrolled Course
															</a></span>
														</div>

														<div class="info-course">
															<span class="item-info">
																Class 11
															</span>
                                                            <span class="item-info">
																<i class="icon ion-android-person"></i>
																2K
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-6 col-xl-4">
											<div class="item-course">
												<div class="image-course">
													<a href="login.html">
														<img src="assets/images/courses/course-06-chemistery.jpg" alt="IMG">
													</a>
												</div>

												<div class="text-course">
													<h4 class="title-course">
														<a href="login.html">
															Chemistery
														</a>
													</h4>

													<div class="description-course">
														Nunc vehicula dignissim magna at finibus. Vestibulum nec eros non nunc tempus
													</div>

													<div class="foot-item">
														<div class="author-course">
															<Span><a href="javascript:void(0)">
																Enrolled Course
															</a></span>
														</div>

														<div class="info-course">
															<span class="item-info">
																Class 10
															</span>
                                                            <span class="item-info">
																<i class="icon ion-android-person"></i>
																2K
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-6 col-xl-4">
											<div class="item-course">
												<div class="image-course">
													<a href="login.html">
														<img src="assets/images/courses/course-04-computer.jpg" alt="IMG">
													</a>
												</div>

												<div class="text-course">
													<h4 class="title-course">
														<a href="login.html">
															Computer
														</a>
													</h4>

													<div class="description-course">
														Nunc vehicula dignissim magna at finibus. Vestibulum nec eros non nunc tempus
													</div>

													<div class="foot-item">
														<div class="author-course">
															<Span><a href="javascript:void(0)">
																Enrolled Course
															</a></span>
														</div>

														<div class="info-course">
															<span class="item-info">
																Class 6
															</span>
                                                            <span class="item-info">
																<i class="icon ion-android-person"></i>
																2K
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
                                        
										<div class="col-md-6 col-xl-4">
											<div class="item-course">
												<div class="image-course">
													<a href="login.html">
														<img src="assets/images/courses/course-01-mathematics.jpg" alt="IMG">
													</a>
												</div>

												<div class="text-course">
													<h4 class="title-course">
														<a href="login.html">
															Mathematics
														</a>
													</h4>

													<div class="description-course">
														Nunc vehicula dignissim magna at finibus. Vestibulum nec eros non nunc tempus
													</div>

													<div class="foot-item">
														<div class="author-course">
															<Span><a href="javascript:void(0)">
																Enrolled Course
															</a></span>
														</div>

														<div class="info-course">
															<span class="item-info">
																Class 8
															</span>
                                                            <span class="item-info">
																<i class="icon ion-android-person"></i>
																2K
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-6 col-xl-4">
											<div class="item-course">
												<div class="image-course">
													<a href="login.html">
														<img src="assets/images/courses/course-07-general-science.jpg" alt="IMG">
													</a>
												</div>

												<div class="text-course">
													<h4 class="title-course">
														<a href="login.html">
															General Science
														</a>
													</h4>

													<div class="description-course">
														Nunc vehicula dignissim magna at finibus. Vestibulum nec eros non nunc tempus
													</div>

													<div class="foot-item">
														<div class="author-course">
															<Span><a href="javascript:void(0)">
																Enrolled Course
															</a></span>
														</div>

														<div class="info-course">
															<span class="item-info">
																Class 8
															</span>
                                                            <span class="item-info">
																<i class="icon ion-android-person"></i>
																2K
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>

										
										<div class="col-md-6 col-xl-4">
											<div class="item-course">
												<div class="image-course">
													<a href="login.html">
														<img src="assets/images/courses/course-09-mathematics.jpg" alt="IMG">
													</a>
												</div>

												<div class="text-course">
													<h4 class="title-course">
														<a href="login.html">
															Mathematics
														</a>
													</h4>

													<div class="description-course">
														Nunc vehicula dignissim magna at finibus. Vestibulum nec eros non nunc tempus
													</div>

													<div class="foot-item">
														<div class="author-course">
															<Span><a href="javascript:void(0)">
																Enrolled Course
															</a></span>
														</div>

														<div class="info-course">
															<span class="item-info">
																Class 9
															</span>
                                                            <span class="item-info">
																<i class="icon ion-android-person"></i>
																2K
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-6 col-xl-4">
											<div class="item-course">
												<div class="image-course">
													<a href="login.html">
														<img src="assets/images/courses/course-04-computer.jpg" alt="IMG">
													</a>
												</div>

												<div class="text-course">
													<h4 class="title-course">
														<a href="login.html">
															Computer
														</a>
													</h4>

													<div class="description-course">
														Nunc vehicula dignissim magna at finibus. Vestibulum nec eros non nunc tempus
													</div>

													<div class="foot-item">
														<div class="author-course">
															<Span><a href="javascript:void(0)">
																Enrolled Course
															</a></span>
														</div>

														<div class="info-course">
															<span class="item-info">
																Class 6
															</span>
                                                            <span class="item-info">
																<i class="icon ion-android-person"></i>
																2K
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>

										
										<div class="col-md-6 col-xl-4">
											<div class="item-course">
												<div class="image-course">
													<a href="login.html">
														<img src="assets/images/courses/course-08-social-study.jpg" alt="IMG">
													</a>
												</div>

												<div class="text-course">
													<h4 class="title-course">
														<a href="login.html">
															Social Study|Islamiat
														</a>
													</h4>

													<div class="description-course">
														Nunc vehicula dignissim magna at finibus. Vestibulum nec eros non nunc tempus
													</div>

													<div class="foot-item">
														<div class="author-course">
															<Span><a href="javascript:void(0)">
																Enrolled Course
															</a></span>
														</div>

														<div class="info-course">
															<span class="item-info">
																Class 7
															</span>
                                                            <span class="item-info">
																<i class="icon ion-android-person"></i>
																2K
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
                                        
		
                                    </div>
								</div>

								<ul class="loop-pagination">
									<li>
										<a href="courses.html" class="page-numbers current">
											1
										</a>
									</li>

									<li>
										<a href="courses2.html" class="page-numbers">
											2
										</a>
									</li>

									<li>
										<a href="courses3.html" class="page-numbers">
											3
										</a>
									</li>

									

									<li>
										<a href="courses2.html" class="page-numbers next">
											Next
											<i class="ion ion-ios-arrow-thin-right"></i>
										</a>
									</li>
								</ul>
							</div>
						</main>

						<div class="widget-area col-lg-3 sticky-sidebar">
							<aside class="widget widget_search">
								<form class="search-form"> 
									<label>
										<input type="text" class="search-field" name="search" placeholder="What are you looking for ?">
									</label>

									<button class="search-submit">
										<i class="ion ion-ios-search-strong"></i>
									</button>
								</form>
							</aside>

							<aside class="widget widget_categories">
								<h3 class="widget-title">
									Categories
								</h3>

								<ul>
									<li class="cat-item">
										<a href="courses.html">
											All Courses 
										</a>

										<span class="count">
											32
										</span>
									</li>

									<li class="cat-item">
										<a href="tutor.html">
											All Tutors
										</a>

										<span class="count">
											32
										</span>
									</li>

									<li class="cat-item">
										<a href="term-and-condition.html">
											Terms & Conditions
										</a>

										<span class="count">
											11
										</span>
									</li>

									<li class="cat-item">
										<a href="index.html">
											Admin's Message
										</a>

										<span class="count">
											06
										</span>
									</li>

									<li class="cat-item">
										<a href="about.html">
											Our Team
										</a>

										<span class="count">
											03
										</span>
									</li>
								</ul>
							</aside>

							<aside class="widget widget_course">
								<h3 class="widget-title">
									POPULAR Tutors
								</h3>

								<div class="course-list">
									<div class="course-item">
										<div class="course-image">
											<a href="tutor.html">
												<img src="assets/images/tutors/ava-author-001.jpg" alt="IMG">
											</a>
										</div>

										<div class="course-text">
											<h4 class="title">
												<a href="tutor.html">
													Arsalan Ahmad
												</a>
											</h4>

											<div class="price-course">
												$69.00
											</div>
											<div class="foot-item">
                                                <div class="info-course">
                                                    <span class="item-info">
                                                        <i class="icon ion-android-star"></i>
                                                        4.5
                                                    </span>
                                                </div>
                                            </div>
										</div>
									</div>

									<div class="course-item">
										<div class="course-image">
											<a href="tutor.html">
												<img src="assets/images/tutors/ava-author-003.jpg" alt="IMG">
											</a>
										</div>

										<div class="course-text">
											<h4 class="title">
												<a href="tutor.html">
													M. Usman Butt
												</a>
											</h4>

											<div class="price-course">
												Free
											</div>
											<div class="foot-item">
                                                <div class="info-course">
                                                    <span class="item-info">
                                                        <i class="icon ion-android-star"></i>
                                                        4.5
                                                    </span>
                                                </div>
                                            </div>
										</div>
									</div>

									<div class="course-item">
										<div class="course-image">
											<a href="tutor.html">
												<img src="assets/images/tutors/ava-author-002.jpg" alt="IMG">
											</a>
										</div>

										<div class="course-text">
											<h4 class="title">
												<a href="tutor.html">
													Shaheer Arsalan
												</a>
											</h4>

											<div class="price-course">
												$55.00
											</div>
                                            <div class="foot-item">
                                                <div class="info-course">
                                                    <span class="item-info">
                                                        <i class="icon ion-android-star"></i>
                                                        4.5
                                                    </span>
                                                </div>
                                            </div>
										</div>
									</div>

									<div class="course-item">
										<div class="course-image">
											<a href="tutor.html">
												<img src="assets/images/tutors/ava-author-005.jpg" alt="IMG">
											</a>
										</div>

										<div class="course-text">
											<h4 class="title">
												<a href="tutor.html">
													Muttayab Ahmad
												</a>
											</h4>

											<div class="price-course">
												$999.00
											</div>
											<div class="foot-item">
                                                <div class="info-course">
                                                    <span class="item-info">
                                                        <i class="icon ion-android-star"></i>
                                                        4.5
                                                    </span>
                                                </div>
                                            </div>
										</div>
									</div>
								</div>
							</aside>

							<aside class="widget widget_info">
								<div class="content-info">
									<h5 class="title-block">
										Free Call
									</h5>

									<div class="description-block">
										Pulvinar est metro ligula blandit maecenas
									</div>

									<div class="content-block">
										+92-324-8678001
									</div>

									<a href="contact.html" class="button-block">
										Contact us
									</a>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end Main content -->
	<!-- Footer -->
	<footer class="site-footer style-1">

		<div class="footer-sidebars">
			<div class="container">
				<div class="row row-footer">
					<div class="col-md-6 col-xl col-footer">	
						<aside class="widget widget_text">
							<h3 class="widget-title">
								Contact us
							</h3>

							<div class="textwidget">
								<div class="list-contact">
									<ul>
										<li>
											<i class="icon ion-android-home"></i>
											1-KM Defence Road, University Of Lahore
										</li> 

										<li>
											<i class="icon ion-android-call"></i>
											<a href="tell:+923248678001">+92-324-8678001</a>
										</li> 

										<li>
											<i class="icon ion-android-mail"></i>
											<a href="mailto:arsalanahmad8001@gmail.com">Developer</a>
										</li> 

										<li>
											<i class="icon ion-android-alarm-clock"></i>
											Query Time: 9:00 am – 5:00 pm
										</li> 
									</ul>
								</div>
							</div>
						</aside>
					</div>

					<div class="col-sm-6 col-md-3 col-xl col-footer">	
						<aside class="widget widget_nav_menu">
							<h3 class="widget-title">
								Menu
							</h3>

							<div class="menu-useful-links-container">
								<ul class="menu">
									
									<li class="menu-item">
										<a href="index.html">Home</a>
									</li>
									
									<li class="menu-item">
										<a href="about.html">About Us</a>
									</li>

									<li class="menu-item">
										<a href="courses.html">Courses</a>
									</li>
									
									<li class="menu-item">
										<a href="tutor.html">Tutors</a>
									</li>

									<li class="menu-item">
										<a href="contact.html">Contact Us</a>
									</li>
								</ul>
							</div>
						</aside>
					</div>

					<div class="col-sm-6 col-md-3 col-xl col-footer">	
						<aside class="widget widget_nav_menu">
							<h3 class="widget-title">
								Courses
							</h3>

							<div class="menu-useful-links-container">
								<ul class="menu">
									<li class="menu-item">
										<a href="courses.html">English</a>
									</li>

									<li class="menu-item">
										<a href="courses.html">Biology</a>
									</li>

									<li class="menu-item">
										<a href="courses.html">Physics</a>
									</li>

									<li class="menu-item">
										<a href="courses.html">Chemistry</a>
									</li>

									<li class="menu-item">
										<a href="courses.html">Others</a>
									</li>
								</ul>
							</div>
						</aside>
					</div>

					<div class="col-sm-6 col-md-6 col-xl col-footer">	
						<aside class="widget widget_nav_menu">
							<h3 class="widget-title">
								Important
							</h3>

							<div class="menu-useful-links-container">
								<ul class="menu">
									<li class="menu-item">
										<a href="javascript:void(0)">Login</a>
									</li>

									<li class="menu-item">
										<a href="javascript:void(0)">Registration</a>
									</li>

									<li class="menu-item">
										<a href="term-and-condition.html">Terms & conditions</a>
									</li>

									<li class="menu-item">
										<a href="privacy-policy.html">Privacy Policy</a>
									</li>

									<li class="menu-item">
										<a href="faq.html">FAQs</a>
									</li>
								</ul>
							</div>
						</aside>
					</div>

					<div class="col-sm-6 col-md-6 col-xl col-footer">	
						<aside class="widget widget_nav_menu">
							<h3 class="widget-title">
								Info For
							</h3>

							<div class="menu-useful-links-container">
								<ul class="menu">
									<li class="menu-item">
										<a href="javascript:void(0)">Prospective Student</a>
									</li>

									<li class="menu-item">
										<a href="javascript:void(0)">Parents & Families</a>
									</li>

									<li class="menu-item">
										<a href="javascript:void(0)">Transfer Students</a>
									</li>

									<li class="menu-item">
										<a href="javascript:void(0)">Industry Leader</a>
									</li>

									<li class="menu-item">
										<a href="javascript:void(0)">Military Student</a>
									</li>
								</ul>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>

		<div class="copyright-area">
			<div class="container">
				<div class="social-links text-center">
					<ul class="socials">
						<li>
							<a href="javascript:void(0)">
								<i class="social-icon fa fa-facebook"></i>
							</a>
						</li>

						<li>
							<a href="javascript:void(0)">
								<i class="social-icon fa fa-twitter"></i>
							</a>
						</li>

						<li>
							<a href="javascript:void(0)">
								<i class="social-icon fa fa-pinterest-p"></i>
							</a>
						</li>

						<li>
							<a href="javascript:void(0)">
								<i class="social-icon fa fa-linkedin"></i>
							</a>
						</li>

						<li>
							<a href="javascript:void(0)">
								<i class="social-icon fa fa-youtube-play"></i>
							</a>
						</li>
					</ul>
				</div>

				<div class="copyright-text">
					Copyright 2021 Corporate TUTOR-ONLINE By <a href="mailto:arsalanahmad8001@gmail.com" target="_blank">Arsalan Ahmad</a>
				</div>
			</div>
		</div>
	</footer>
	<!-- end Footer -->
</div>

<div id="back-to-top" class="btn-back-to-top"><i class="ion ion-ios-arrow-thin-up"></i></div>

<!--===============================================================================================-->
<script src="assets/libs/jquery/jquery-3.4.1.min.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/libs/bootstrap/popper.js?v=1"></script>
<script src="assets/libs/bootstrap/bootstrap.min.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/libs/magnific-popup/jquery.magnific-popup.min.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/libs/animsition/animsition.min.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/libs/slick/slick.min.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/libs/select2/select2.min.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/libs/countdown/jquery.plugin.min.js?v=1"></script>
<script src="assets/libs/countdown/jquery.countdown.min.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/libs/isotope/isotope.pkgd.min.js?v=1"></script>
<script src="assets/libs/isotope/modul.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/libs/sticky-sidebar/theia-sticky-sidebar.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/js/main.js?v=1"></script>


</body>
</html>