<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tags</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="assets/images/favicon-1.png"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome/css/font-awesome.min.css?v=1">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="assets/fonts/ionicons/css/ionicons.min.css?v=1">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="assets/libs/bootstrap/bootstrap.min.css?v=1.1">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="assets/libs/slick/slick.css?v=1">
	<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="assets/libs/magnific-popup/magnific-popup.css?v=1">
	<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="assets/libs/animsition/animsition.min.css?v=1">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css?v=1">
	<!--===============================================================================================-->

</head>
<body class="animsition">

<div id="wrapper-container">

	<!-- Header -->
	<header class="site-header sticky-header layout-1">
		<div class="header-inner element-to-stick">
			<div class="container">
				<div class="wrap-content-header">
					<div class="header-logo">
						<a href="index.html" class="logo">
							<img src="assets/images/logo-00.png" alt="IMG" data-retina="assets/images/logo-00.png" data-sticky="assets/images/logo-00.png" data-mobile="assets/images/logo-00.png">
						</a>
					</div>

					<nav class="main-navigation">
						<ul class="menu-lists">
							<li class="menu-item-has-children">
								<a href="index.html">
									Home
								</a>

								<ul class="sub-menu">
									<li>
										<a href="index.html">
											Home 01
										</a>
									</li>

									<li>
										<a href="home2.html">
											Home 02
										</a>
									</li>

									<li>
										<a href="home3.html">
											Home 03
										</a>
									</li>

									<li>
										<a href="home4.html">
											Home 04
										</a>
									</li>
								</ul>
							</li>

							<li class="menu-item-has-children">
								<a href="about.html">
									About
								</a>

								<ul class="sub-menu">
									<li>
										<a href="about.html">
											About
										</a>
									</li>

									<li>
										<a href="events.html">
											Events
										</a>
									</li>

									<li>
										<a href="single-events.html">
											Single events
										</a>
									</li>

									<li>
										<a href="shop.html">
											Shop
										</a>
									</li>

									<li>
										<a href="single-shop.html">
											Single shop
										</a>
									</li>

									<li>
										<a href="pricing.html">
											Pricing
										</a>
									</li>

									<li>
										<a href="portfolio.html">
											Portfolio
										</a>
									</li>

									<li>
										<a href="gallery.html">
											Gallery
										</a>
									</li>

									<li>
										<a href="faq.html">
											FAQs
										</a>
									</li>

									<li>
										<a href="404page.html">
											404
										</a>
									</li>
								</ul>
							</li>

							<li class="menu-item-has-children">
								<a href="courses.html">
									Courses
								</a>

								<ul class="sub-menu">
									<li>
										<a href="courses.html">
											Courses
										</a>
									</li>

									<li>
										<a href="single-courses.html">
											Single courses
										</a>
									</li>
								</ul>
							</li>

							<li class="menu-item-has-children">
								<a href="blog.html">
									Blog
								</a>

								<ul class="sub-menu">
									<li>
										<a href="blog.html">
											Blog
										</a>
									</li>

									<li>
										<a href="single-blog.html">
											Single blog
										</a>
									</li>
								</ul>
							</li>

							<li>
								<a href="contact.html">
									Contact
								</a>
							</li>
						</ul>
					</nav>

					<div class="menu-right">
						<div class="element-button layout-2 shape-square size-small">
							<a href="javascript:void(0)" class="button">
								Get started
							</a>
						</div>

						<div class="element-search layout-1">
							<div class="search-button"></div>

							<div class="search-form">
								<span class="close-form"></span>

								<form role="search" method="get" class="form-search" >
									<input type="text" class="search-field" name="s"/>
									<span class="search-notice"> Hit enter to search or ESC to close</span>
								</form>

								<ul class="list-search list-unstyled">
								</ul>
							</div>
						</div>

						<!-- shortcode login popup -->
						<div class="element-login-popup layout-1">
							<div class="login-links">
								<a class="login" data-active=".box-login" data-effect="mfp-zoom-in" href="#bp-popup-login">Login</a>
							</div>

							<div id="bp-popup-login" class="white-popup mfp-with-anim mfp-hide">
								<div class="loginwrapper">
									<!-- form register -->
									<div class="login-popup box-register">
										<div class="media-content" style="background-image: url(assets/images/login.jpg);"></div>

										<div class="inner-login">
											<h3 class="title">
												<span class="current-title">Register</span>
												<span>
															<a href="#login" class="display-box" data-display=".box-login">Login</a>
														</span>
											</h3>

											<div class="form-row">
												<div class="wrap-form">
													<div class="form-desc">
														We will need...
													</div>

													<form id="registerform">
														<p class="login-username">
															<input type="text" placeholder="Username"   class="input">
														</p>

														<p class="login-email">
															<input type="email" name="user_email" placeholder="Email"   class="input">
														</p>

														<p class="text-mail">
															We send your registration email to this address.
														</p>

														<p class="button-submit">
															<input type="submit" name="wp-submit" class="button button-primary button-large" value="Register"/>
															<input type="hidden" name="redirect_to" value=""/>
														</p>
													</form>
												</div>
											</div>
										</div>
									</div>
									<!--end form register -->

									<!-- form login -->
									<div class="login-popup box-login">
										<div class="media-content" style="background-image: url(assets/images/login.jpg);"></div>

										<div class="inner-login">
											<h3 class="title">
														<span>
															<a href="#register" class="display-box" data-display=".box-register">Registration</a>
														</span>

												<span class="current-title">Login</span>
											</h3>

											<div class="form-row">
												<div class="wrap-form">
													<div class="form-desc"> We will need... </div>

													<form id="loginform">
														<p class="login-username">
															<input type="text" placeholder="Username"   class="input">
														</p>

														<p class="login-email">
															<input type="email" name="user_email" placeholder="Email"   class="input">
														</p>

														<p class="login-remember">
															<input type="checkbox" name="rememberme" id="rememberme" value="forever">  Remember Me
														</p>

														<p class="button-submit">
															<input type="submit" name="wp-submit" class="button button-primary button-large" value="Login"/>
															<input type="hidden" name="redirect_to" value=""/>
														</p>

														<p class="link-bottom"><a href="#losspw" class="display-box"
																				  data-display=".box-lostpass"></a>
														</p>
													</form>

													<p class="link-bottom"><a href="#losspw" class="display-box"
																			  data-display=".box-lostpass">Lost your password? </a>
													</p>
												</div>
											</div>
										</div>
									</div>
									<!-- end form login -->

									<!-- form lost passwords -->
									<div class="login-popup box-lostpass">
										<div class="login-popup box-lostpass">
											<div class="media-content" style="background-image: url(assets/images/login.jpg);"></div>

											<div class="inner-login">
												<h3 class="title">
															<span>
																<a href="#register" class="display-box" data-display=".box-register">Registration</a>
															</span>

													<span class="current-title"> Reset Password</span>
												</h3>

												<div class="form-row">
													<form name="lostpasswordform" id="lostpasswordform" method="post">
														<p class="description"> Please enter your username or email address. You will receive a link to create a new password via email.
														</p>

														<p class="login-username">
															<input placeholder="Username or email" type="text" name="user_login_lostpass" id="user_login_lostpass" class="input"/>
														</p>

														<p>
															<input type="submit" name="wp-submit-lostpass" id="wp-submit-lostpass" class="button button-primary button-large" value="Reset password"/>
														</p>

														<p class="link-bottom"> Are you a member?
															<a href="#login" class="display-box" data-display=".box-login"> Sign in now </a>
														</p>
													</form>
												</div>
											</div>
										</div>
									</div>
									<!-- end lost passwords -->
								</div>
							</div>
						</div>
						<!-- end shortcode login -->
						<!-- Button toggle menu-mobile -->
						<div class="menu-mobile-effect navbar-toggle">
							<div class="icon-wrap">
								<i class="ion-navicon"></i>
							</div>
						</div>
						<!-- end Button toggle menu-mobile -->
					</div>
				</div>
			</div>
		</div>
	</header>

	<nav class="mobile-menu-container mobile-effect">
		<ul class="nav navbar-nav">
			<li class="menu-item-has-children">
				<a href="index.html">
					Home
				</a>

				<ul class="sub-menu">
					<li>
						<a href="index.html">
							Home 01
						</a>
					</li>

					<li>
						<a href="home2.html">
							Home 02
						</a>
					</li>

					<li>
						<a href="home3.html">
							Home 03
						</a>
					</li>

					<li>
						<a href="home4.html">
							Home 04
						</a>
					</li>
				</ul>
			</li>

			<li class="menu-item-has-children">
				<a href="about.html">
					About
				</a>

				<ul class="sub-menu">
					<li>
						<a href="about.html">
							About
						</a>
					</li>

					<li>
						<a href="events.html">
							Events
						</a>
					</li>

					<li>
						<a href="single-events.html">
							Single events
						</a>
					</li>

					<li>
						<a href="shop.html">
							Shop
						</a>
					</li>

					<li>
						<a href="single-shop.html">
							Single shop
						</a>
					</li>

					<li>
						<a href="pricing.html">
							Pricing
						</a>
					</li>

					<li>
						<a href="portfolio.html">
							Portfolio
						</a>
					</li>

					<li>
						<a href="gallery.html">
							Gallery
						</a>
					</li>

					<li>
						<a href="faq.html">
							FAQs
						</a>
					</li>

					<li>
						<a href="404page.html">
							404
						</a>
					</li>
				</ul>
			</li>

			<li class="menu-item-has-children">
				<a href="courses.html">
					Courses
				</a>

				<ul class="sub-menu">
					<li>
						<a href="courses.html">
							Courses
						</a>
					</li>

					<li>
						<a href="single-courses.html">
							Single courses
						</a>
					</li>
				</ul>
			</li>

			<li class="menu-item-has-children">
				<a href="blog.html">
					Blog
				</a>

				<ul class="sub-menu">
					<li>
						<a href="blog.html">
							Blog
						</a>
					</li>

					<li>
						<a href="single-blog.html">
							Single blog
						</a>
					</li>
				</ul>
			</li>

			<li>
				<a href="contact.html">
					Contact
				</a>
			</li>
		</ul>
	</nav>
	<!-- end Header -->
	
	<!-- Main content -->
	<div id="main-content">
		<div class="content-area">
			<div class="page-title">
				<div class="main-top" style="background-image: url(assets/images/page-title-01.jpg);">
					<span class="overlay-top-header"></span>

					<div class="content container"> 
						<h1>
							Tags
						</h1>

						<div class="wrap-breadcrumb">
							<ul class="breadcrumbs">
								<li>
									<a href="index.html">
										Home
									</a>
									<span class="breadcrum-icon"> > </span>
								</li>

								<li>
									Tags
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="site-content sidebar-right">
				<div class="container">
					<div class="row">
						<main class="site-main col-lg-9">
							<div class="wrap-main-content">
								<div class="bl-blogs-list">
									<div class="row">
										<div class="col-sm-6 col-xl-4">
											<article class="item-blog grid-item has-post-thumbnail">
												<div class="image-blog">
													<div class='post-formats-wrapper'>
														<div class="slide-image js-call-slick-col"  data-numofshow="1" data-numofscroll="1" data-loopslide="1" data-autoscroll="0" data-speedauto="6000" data-responsive="[1, 1], [1, 1], [1, 1], [1, 1], [1, 1]">
															<div class="wrap-arrow-slick">
																<div class="arow-slick prev-slick"><i class="ion ion-ios-arrow-left"></i></div>
																<div class="arow-slick next-slick"><i class="ion ion-ios-arrow-right"></i></div>
															</div>

															<div class="slide-slick">
																<div class="item-slick">
																	<div class="item-img">
																		<img src="assets/images/blog/blog-01.jpg" alt="IMG">
																	</div>
																</div>
																<div class="item-slick">
																	<div class="item-img">
																		<img src="assets/images/blog/blog-01.jpg" alt="IMG">
																	</div>
																</div>
																<div class="item-slick">
																	<div class="item-img">
																		<img src="assets/images/blog/blog-01.jpg" alt="IMG">
																	</div>
																</div>
															</div>
														</div>
													</div>

													<div class="date-blog">
														May 16, 2019
													</div>
												</div>

												<div class="text-blog">
													<div class="author-blog">
														<a href="javascript:void(0)" class="ava-author">
															<img src="assets/images/avatar/author-blog-01.jpg" alt="IMG">
														</a>

														By <a href="javascript:void(0)">Maria</a>
													</div>

													<h4 class="title-blog">
														<a href="single-blog.html">
															Illustration: Create an Ice Cream Sticker
														</a>
													</h4>

													<ul class="info-blog">
														<li>
															<i class="icon ion-ios-pricetags-outline"></i>
															<a href="javascript:void(0)">Academics</a>, <a href="javascript:void(0)">Life</a>
														</li>

														<li>
															<i class="icon ion-android-chat"></i>
															120
														</li>
													</ul>
												</div>
											</article>
										</div>

										<div class="col-sm-6 col-xl-4">
											<article class="item-blog grid-item has-post-thumbnail">
												<div class="image-blog">
													<a href="single-blog.html">
														<img src="assets/images/blog/blog-02.jpg" alt="IMG">
													</a>

													<div class="date-blog">
														May 16, 2019
													</div>
												</div>

												<div class="text-blog">
													<div class="author-blog">
														<a href="javascript:void(0)" class="ava-author">
															<img src="assets/images/avatar/author-blog-01.jpg" alt="IMG">
														</a>

														By <a href="javascript:void(0)">Maria</a>
													</div>

													<h4 class="title-blog">
														<a href="single-blog.html">
															Illustration: Create an Ice Cream Sticker
														</a>
													</h4>

													<ul class="info-blog">
														<li>
															<i class="icon ion-ios-pricetags-outline"></i>
															<a href="javascript:void(0)">Academics</a>, <a href="javascript:void(0)">Life</a>
														</li>

														<li>
															<i class="icon ion-android-chat"></i>
															120
														</li>
													</ul>
												</div>
											</article>
										</div>

										<div class="col-sm-6 col-xl-4">
											<article class="item-blog grid-item has-post-thumbnail">
												<div class="image-blog">
													<a href="single-blog.html">
														<img src="assets/images/blog/blog-03.jpg" alt="IMG">
													</a>

													<div class="date-blog">
														May 16, 2019
													</div>
												</div>

												<div class="text-blog">
													<div class="author-blog">
														<a href="javascript:void(0)" class="ava-author">
															<img src="assets/images/avatar/author-blog-01.jpg" alt="IMG">
														</a>

														By <a href="javascript:void(0)">Maria</a>
													</div>

													<h4 class="title-blog">
														<a href="single-blog.html">
															Illustration: Create an Ice Cream Sticker
														</a>
													</h4>

													<ul class="info-blog">
														<li>
															<i class="icon ion-ios-pricetags-outline"></i>
															<a href="javascript:void(0)">Academics</a>, <a href="javascript:void(0)">Life</a>
														</li>

														<li>
															<i class="icon ion-android-chat"></i>
															120
														</li>
													</ul>
												</div>
											</article>
										</div>

										<div class="col-sm-6 col-xl-4">
											<article class="item-blog grid-item has-post-thumbnail">
												<div class="image-blog">
													<a href="single-blog.html">
														<img src="assets/images/blog/blog-04.jpg" alt="IMG">
													</a>

													<div class="date-blog">
														May 16, 2019
													</div>
												</div>

												<div class="text-blog">
													<div class="author-blog">
														<a href="javascript:void(0)" class="ava-author">
															<img src="assets/images/avatar/author-blog-01.jpg" alt="IMG">
														</a>

														By <a href="javascript:void(0)">Maria</a>
													</div>

													<h4 class="title-blog">
														<a href="single-blog.html">
															Illustration: Create an Ice Cream Sticker
														</a>
													</h4>

													<ul class="info-blog">
														<li>
															<i class="icon ion-ios-pricetags-outline"></i>
															<a href="javascript:void(0)">Academics</a>, <a href="javascript:void(0)">Life</a>
														</li>

														<li>
															<i class="icon ion-android-chat"></i>
															120
														</li>
													</ul>
												</div>
											</article>
										</div>

										<div class="col-sm-6 col-xl-4">
											<article class="item-blog grid-item has-post-thumbnail">
												<div class="image-blog">
													<a href="single-blog.html">
														<img src="assets/images/blog/blog-05.jpg" alt="IMG">
													</a>

													<div class="date-blog">
														May 16, 2019
													</div>
												</div>

												<div class="text-blog">
													<div class="author-blog">
														<a href="javascript:void(0)" class="ava-author">
															<img src="assets/images/avatar/author-blog-01.jpg" alt="IMG">
														</a>

														By <a href="javascript:void(0)">Maria</a>
													</div>

													<h4 class="title-blog">
														<a href="single-blog.html">
															Illustration: Create an Ice Cream Sticker
														</a>
													</h4>

													<ul class="info-blog">
														<li>
															<i class="icon ion-ios-pricetags-outline"></i>
															<a href="javascript:void(0)">Academics</a>, <a href="javascript:void(0)">Life</a>
														</li>

														<li>
															<i class="icon ion-android-chat"></i>
															120
														</li>
													</ul>
												</div>
											</article>
										</div>

										<div class="col-sm-6 col-xl-4">
											<article class="item-blog grid-item has-post-thumbnail">
												<div class="image-blog">
													<a href="single-blog.html">
														<img src="assets/images/blog/blog-06.jpg" alt="IMG">
													</a>

													<div class="date-blog">
														May 16, 2019
													</div>
												</div>

												<div class="text-blog">
													<div class="author-blog">
														<a href="javascript:void(0)" class="ava-author">
															<img src="assets/images/avatar/author-blog-01.jpg" alt="IMG">
														</a>

														By <a href="javascript:void(0)">Maria</a>
													</div>

													<h4 class="title-blog">
														<a href="single-blog.html">
															Illustration: Create an Ice Cream Sticker
														</a>
													</h4>

													<ul class="info-blog">
														<li>
															<i class="icon ion-ios-pricetags-outline"></i>
															<a href="javascript:void(0)">Academics</a>, <a href="javascript:void(0)">Life</a>
														</li>

														<li>
															<i class="icon ion-android-chat"></i>
															120
														</li>
													</ul>
												</div>
											</article>
										</div>

										<div class="col-sm-6 col-xl-4">
											<article class="item-blog grid-item has-post-thumbnail">
												<div class="image-blog">
													<a href="single-blog.html">
														<img src="assets/images/blog/blog-07.jpg" alt="IMG">
													</a>

													<div class="date-blog">
														May 16, 2019
													</div>
												</div>

												<div class="text-blog">
													<div class="author-blog">
														<a href="javascript:void(0)" class="ava-author">
															<img src="assets/images/avatar/author-blog-01.jpg" alt="IMG">
														</a>

														By <a href="javascript:void(0)">Maria</a>
													</div>

													<h4 class="title-blog">
														<a href="single-blog.html">
															Illustration: Create an Ice Cream Sticker
														</a>
													</h4>

													<ul class="info-blog">
														<li>
															<i class="icon ion-ios-pricetags-outline"></i>
															<a href="javascript:void(0)">Academics</a>, <a href="javascript:void(0)">Life</a>
														</li>

														<li>
															<i class="icon ion-android-chat"></i>
															120
														</li>
													</ul>
												</div>
											</article>
										</div>

										<div class="col-sm-6 col-xl-4">
											<article class="item-blog grid-item has-post-thumbnail">
												<div class="image-blog">
													<a href="single-blog.html">
														<img src="assets/images/blog/blog-08.jpg" alt="IMG">
													</a>

													<div class="date-blog">
														May 16, 2019
													</div>
												</div>

												<div class="text-blog">
													<div class="author-blog">
														<a href="javascript:void(0)" class="ava-author">
															<img src="assets/images/avatar/author-blog-01.jpg" alt="IMG">
														</a>

														By <a href="javascript:void(0)">Maria</a>
													</div>

													<h4 class="title-blog">
														<a href="single-blog.html">
															Illustration: Create an Ice Cream Sticker
														</a>
													</h4>

													<ul class="info-blog">
														<li>
															<i class="icon ion-ios-pricetags-outline"></i>
															<a href="javascript:void(0)">Academics</a>, <a href="javascript:void(0)">Life</a>
														</li>

														<li>
															<i class="icon ion-android-chat"></i>
															120
														</li>
													</ul>
												</div>
											</article>
										</div>

										<div class="col-sm-6 col-xl-4">
											<article class="item-blog grid-item has-post-thumbnail">
												<div class="image-blog">
													<a href="single-blog.html">
														<img src="assets/images/blog/blog-09.jpg" alt="IMG">
													</a>

													<div class="date-blog">
														May 16, 2019
													</div>
												</div>

												<div class="text-blog">
													<div class="author-blog">
														<a href="javascript:void(0)" class="ava-author">
															<img src="assets/images/avatar/author-blog-01.jpg" alt="IMG">
														</a>

														By <a href="javascript:void(0)">Maria</a>
													</div>

													<h4 class="title-blog">
														<a href="single-blog.html">
															Illustration: Create an Ice Cream Sticker
														</a>
													</h4>

													<ul class="info-blog">
														<li>
															<i class="icon ion-ios-pricetags-outline"></i>
															<a href="javascript:void(0)">Academics</a>, <a href="javascript:void(0)">Life</a>
														</li>

														<li>
															<i class="icon ion-android-chat"></i>
															120
														</li>
													</ul>
												</div>
											</article>
										</div>
									</div>
								</div>

								<ul class="loop-pagination">
									<li>
										<a href="javascript:void(0)" class="page-numbers">
											1
										</a>
									</li>

									<li>
										<a href="javascript:void(0)" class="page-numbers current">
											2
										</a>
									</li>

									<li>
										<a href="javascript:void(0)" class="page-numbers">
											3
										</a>
									</li>

									<li>
										<a href="javascript:void(0)" class="page-numbers">
											4
										</a>
									</li>

									<li>
										<a href="javascript:void(0)" class="page-numbers next">
											Next
											<i class="ion ion-ios-arrow-thin-right"></i>
										</a>
									</li>
								</ul>
							</div>
						</main>

						<div class="widget-area col-lg-3 sticky-sidebar">
							<aside class="widget widget_search">
								<form class="search-form"> 
									<label>
										<input type="text" class="search-field" name="search" placeholder="What are you looking for ?">
									</label>

									<button class="search-submit">
										<i class="ion ion-ios-search-strong"></i>
									</button>
								</form>
							</aside>

							<aside class="widget widget_categories">
								<h3 class="widget-title">
									Categories
								</h3>

								<ul>
									<li class="cat-item">
										<a href="courses.html">
											All Courses 
										</a>

										<span class="count">
											32
										</span>
									</li>

									<li class="cat-item">
										<a href="courses.html">
											Development
										</a>

										<span class="count">
											32
										</span>
									</li>

									<li class="cat-item">
										<a href="courses.html">
											Educational 
										</a>

										<span class="count">
											16
										</span>
									</li>

									<li class="cat-item">
										<a href="courses.html">
											Kindergarten
										</a>

										<span class="count">
											08
										</span>
									</li>

									<li class="cat-item">
										<a href="courses.html">
											Life Style
										</a>

										<span class="count">
											45
										</span>
									</li>

									<li class="cat-item">
										<a href="courses.html">
											Sport Games
										</a>

										<span class="count">
											32
										</span>
									</li>
								</ul>
							</aside>

							<aside class="widget widget_posts">
								<h3 class="widget-title">
									LATEST Posts
								</h3>

								<div class="post-list">
									<div class="post-item">
										<div class="post-image">
											<a href="blog.html">
												<img src="assets/images/home/post-widget-01.jpg" alt="IMG">
											</a>
										</div>

										<div class="post-text">
											<h4 class="title">
												<a href="blog.html">
													Is Bing Really Rendering Node
												</a>
											</h4>

											<div class="info">
												October 15, 2019
											</div>
										</div>
									</div>

									<div class="post-item">
										<div class="post-image">
											<a href="blog.html">
												<img src="assets/images/home/post-widget-02.jpg" alt="IMG">
											</a>
										</div>

										<div class="post-text">
											<h4 class="title">
												<a href="blog.html">
													Is Bing Really Rendering Node
												</a>
											</h4>

											<div class="info">
												October 15, 2019
											</div>
										</div>
									</div>

									<div class="post-item">
										<div class="post-image">
											<a href="blog.html">
												<img src="assets/images/home/post-widget-03.jpg" alt="IMG">
											</a>
										</div>

										<div class="post-text">
											<h4 class="title">
												<a href="blog.html">
													Is Bing Really Rendering Node
												</a>
											</h4>

											<div class="info">
												October 15, 2019
											</div>
										</div>
									</div>

									<div class="post-item">
										<div class="post-image">
											<a href="blog.html">
												<img src="assets/images/home/post-widget-04.jpg" alt="IMG">
											</a>
										</div>

										<div class="post-text">
											<h4 class="title">
												<a href="blog.html">
													Is Bing Really Rendering Node
												</a>
											</h4>

											<div class="info">
												October 15, 2019
											</div>
										</div>
									</div>
								</div>
							</aside>

							<aside class="widget widget_info">
								<div class="content-info">
									<h5 class="title-block">
										Free Call
									</h5>

									<div class="description-block">
										Pulvinar est metro ligula blandit maecenas
									</div>

									<div class="content-block">
										1-900-22-44-88
									</div>

									<a href="contact.html" class="button-block">
										Contact us
									</a>
								</div>
							</aside>

							<aside class="widget widget_tag_cloud">
								<h3 class="widget-title">
									Tags Cloud
								</h3>

								<div class="tagcloud">
									<a href="tags.html" class="tag-cloud-link">
										parents
									</a>

									<a href="tags.html" class="tag-cloud-link">
										 school
									</a>

									<a href="tags.html" class="tag-cloud-link">
										teachers
									</a>

									<a href="tags.html" class="tag-cloud-link">
										university
									</a>

									<a href="tags.html" class="tag-cloud-link">
										student
									</a>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end Main content -->

	<!-- Footer -->
	<footer class="site-footer">
		<div class="footer-top">
			<div class="container">
				<div class="content-footer-top">
					<p>
						<img src="assets/images/footer/logo-footer-00.png" alt="IMG">
					</p>

					<p>
						Ut wisi enim ad minim veniam, quis laore nostru exerci tation ulm hedi corper suscipit lobornisl ut aliquip erat volutpat autem veleum iriurdolor
					</p>
				</div>

				<div class="social-links">
					<ul class="socials">
						<li>
							<a href="javascript:void(0)">
								<i class="social-icon fa fa-facebook"></i>
							</a>
						</li>

						<li>
							<a href="javascript:void(0)">
								<i class="social-icon fa fa-twitter"></i>
							</a>
						</li>

						<li>
							<a href="javascript:void(0)">
								<i class="social-icon fa fa-pinterest-p"></i>
							</a>
						</li>

						<li>
							<a href="javascript:void(0)">
								<i class="social-icon fa fa-linkedin"></i>
							</a>
						</li>

						<li>
							<a href="javascript:void(0)">
								<i class="social-icon fa fa-youtube-play"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="footer-sidebars">
			<div class="container">
				<div class="row row-footer">
					<div class="col-md-6 col-xl col-footer">	
						<aside class="widget widget_text">
							<h3 class="widget-title">
								Contact us
							</h3>

							<div class="textwidget">
								<div class="list-contact">
									<ul>
										<li>
											<i class="icon ion-android-home"></i>
											1115 Broadway, 11th Fl, New York, NY 10010
										</li> 

										<li>
											<i class="icon ion-android-call"></i>
											<a href="tell:646-481-5228">646-481-5228</a>
										</li> 

										<li>
											<i class="icon ion-android-mail"></i>
											<a href="mailto:thimpresssupports@gmail.com">Thimpresssupports@gmail.com</a>
										</li> 

										<li>
											<i class="icon ion-android-alarm-clock"></i>
											Daily: 10:00 am – 5:00 pm
										</li> 
									</ul>
								</div>
							</div>
						</aside>
					</div>

					<div class="col-sm-6 col-md-3 col-xl col-footer">	
						<aside class="widget widget_nav_menu">
							<h3 class="widget-title">
								Menu
							</h3>

							<div class="menu-useful-links-container">
								<ul class="menu">
									<li class="menu-item">
										<a href="courses.html">Classes</a>
									</li>

									<li class="menu-item">
										<a href="events.html">Events</a>
									</li>

									<li class="menu-item">
										<a href="about.html">About Us</a>
									</li>

									<li class="menu-item">
										<a href="pricing.html">Pricing</a>
									</li>

									<li class="menu-item">
										<a href="contact.html">Contact</a>
									</li>
								</ul>
							</div>
						</aside>
					</div>

					<div class="col-sm-6 col-md-3 col-xl col-footer">	
						<aside class="widget widget_nav_menu">
							<h3 class="widget-title">
								Courses
							</h3>

							<div class="menu-useful-links-container">
								<ul class="menu">
									<li class="menu-item">
										<a href="single-courses.html">Painting</a>
									</li>

									<li class="menu-item">
										<a href="single-courses.html">Sketch</a>
									</li>

									<li class="menu-item">
										<a href="single-courses.html">Drawing</a>
									</li>

									<li class="menu-item">
										<a href="single-courses.html">Sculpture</a>
									</li>

									<li class="menu-item">
										<a href="single-courses.html">Digital</a>
									</li>
								</ul>
							</div>
						</aside>
					</div>

					<div class="col-sm-6 col-md-6 col-xl col-footer">	
						<aside class="widget widget_nav_menu">
							<h3 class="widget-title">
								Topics
							</h3>

							<div class="menu-useful-links-container">
								<ul class="menu">
									<li class="menu-item">
										<a href="javascript:void(0)">Accreditation</a>
									</li>

									<li class="menu-item">
										<a href="javascript:void(0)">Disclosures</a>
									</li>

									<li class="menu-item">
										<a href="javascript:void(0)">Student Code</a>
									</li>

									<li class="menu-item">
										<a href="javascript:void(0)">Job Opportunities</a>
									</li>

									<li class="menu-item">
										<a href="javascript:void(0)">Campus Safety</a>
									</li>
								</ul>
							</div>
						</aside>
					</div>

					<div class="col-sm-6 col-md-6 col-xl col-footer">	
						<aside class="widget widget_nav_menu">
							<h3 class="widget-title">
								Info For
							</h3>

							<div class="menu-useful-links-container">
								<ul class="menu">
									<li class="menu-item">
										<a href="javascript:void(0)">Prospective Student</a>
									</li>

									<li class="menu-item">
										<a href="javascript:void(0)">Parents & Families</a>
									</li>

									<li class="menu-item">
										<a href="javascript:void(0)">Transfer Students</a>
									</li>

									<li class="menu-item">
										<a href="javascript:void(0)">Industry Leader</a>
									</li>

									<li class="menu-item">
										<a href="javascript:void(0)">Military Student</a>
									</li>
								</ul>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>

		<div class="copyright-area">
			<div class="container">
				<div class="copyright-text">
					Copyright 2020 Corporate WordPress Theme by <a href="https://thimpress.com/" target="_blank">ThimPress</a>
				</div>
			</div>
		</div>
	</footer>
	<!-- end Footer -->
</div>

<div id="back-to-top" class="btn-back-to-top"><i class="ion ion-ios-arrow-thin-up"></i></div>

<!--===============================================================================================-->
<script src="assets/libs/jquery/jquery-3.4.1.min.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/libs/bootstrap/popper.js?v=1"></script>
<script src="assets/libs/bootstrap/bootstrap.min.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/libs/magnific-popup/jquery.magnific-popup.min.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/libs/animsition/animsition.min.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/libs/slick/slick.min.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/libs/select2/select2.min.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/libs/countdown/jquery.plugin.min.js?v=1"></script>
<script src="assets/libs/countdown/jquery.countdown.min.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/libs/isotope/isotope.pkgd.min.js?v=1"></script>
<script src="assets/libs/isotope/modul.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/libs/sticky-sidebar/theia-sticky-sidebar.js?v=1"></script>
<!--===============================================================================================-->
<script src="assets/js/main.js?v=1"></script>


</body>
</html>