/*[ Heading ]
//////////////////////////////////////////////////////////////////*/

/*\
 *
 * Layout 1
 *
\*/
.element-heading.layout-1 {
    margin-bottom: 31px;

    .title {
        color: $title-color-01;
        font-weight: 300;
        font-size: 40px;
        line-height: 1.25;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (max-width: 767px) {
        .title {
            font-size: 30px;
        }
    }

    .line {
        width: 90px;
        height: 1px;
        background: $primary-color;
        display: block;
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .description {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.7;
        color: $text-color-01;
    }

    &.text-light {
        .title,
        .description {
            color: #fff;
        }
    }

    &.align-left {
        text-align: left;

        .title,
        .description {
            word-break: break-word;
            text-align: left;
            margin-left: 0;
            margin-right: auto;
        }

        .line {
            margin-left: 0;
            margin-right: auto;
        }
    }

    &.align-right {
        text-align: right;

        .title,
        .description {
            word-break: break-word;
            text-align: right;
            margin-left: auto;
            margin-right: 0;
        }

        .line {
            margin-left: auto;
            margin-right: 0;
        }
    }

    &.align-center {
        text-align: center;

        .title,
        .description {
            word-break: break-word;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        .line {
            margin-left: auto;
            margin-right: auto;
        }
    }
}


/*\
 *
 * Layout 2
 *
\*/
.element-heading.layout-2 {
    margin-bottom: 52px;

    .subtitle {
        font-weight: 300;
        font-size: 16px;
        color: $primary-color;
        margin-bottom: 2px;
    }

    .title {
        font-weight: 600;
        font-size: 35px;
        line-height: 1.28;
        color: $title-color-01;
        margin-bottom: 23px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (max-width: 991px) {
        .title {
            font-size: 30px;
        }
    }
    @media (max-width: 768px) {
        .title {
            font-size: 28px;
        }
    }

    .description {
        font-weight: 300;
        font-size: 16px;
        font-style: normal;
        line-height: 1.75;
        color: $text-color-01;
    }

    &.text-light {
        .title {
            color: #fff;
        }

        .description {
            color: #efedff;
        }
    }

    &.style-2 {
        .subtitle {
            font-weight: 400;
            font-size: 18px;
        }

        .title {
            font-weight: 700;
            line-height: 1.3;
        }

        .description {
            font-weight: 400;
            font-size: 18px;
        }

        &.text-light {
            .description {
                color: #b3c5d9;
            }
        }
    }

    &.style-3 {
        .subtitle {
            font-weight: 400;
            font-size: 18px;
        }

        .title {
            font-weight: 300;

            strong {
                font-weight: 700;
            }
        }

        .description {
            font-weight: 400;
            font-size: 18px;
        }

        &.text-light {
            .description {
                color: #c6c6c6;
            }
        }
    }

    &.align-left {
        text-align: left;

        .subtitle,
        .title,
        .description {
            word-break: break-word;
            text-align: left;
            margin-left: 0;
            margin-right: auto;
        }
    }

    &.align-right {
        text-align: right;

        .subtitle,
        .title,
        .description {
            word-break: break-word;
            text-align: right;
            margin-left: auto;
            margin-right: 0;
        }
    }

    &.align-center {
        text-align: center;

        .subtitle,
        .title,
        .description {
            word-break: break-word;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
}