
/*[ pricing-table ]
//////////////////////////////////////////////////////////////////*/

/*\
 *
 * Layout 1
 *
\*/
.element-pricing-table.layout-1 {
	.wrap-element {
		.col,
		[class*='col-']{
			padding-bottom: 40px;
		}

		.item-pricing {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			border-radius: 0;
			overflow: hidden;
			box-shadow: 13px 15px 15px 0px rgba(105,105,105,0.08);
			background: #fff;
			position: relative;
			z-index: 0;
			padding: 50px 40px 60px 40px;
			transition: all .2s;

			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				border-radius: inherit;
				position: absolute;
				z-index: -2;
				top: 0;
				left: 0;
				background-color: #464646;
				opacity: 0;
				transition: all .2s;
			}

			.label {
				font-weight: 700;
				font-size: 14px;
				line-height: 1.5;
				color: #fff;
				text-transform: uppercase;
				width: 110px;
				height: 106px;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				background: $primary-color;
				position: absolute;
				z-index: 1;
				top: 0;
				right: 0;
				padding-bottom: 6px;
				transform: translate(50%, -50%) rotateZ(45deg);
			}

			.price {
				font-weight: 700;
				font-size: 14px;
				line-height: 1.5;
				color: $title-color-01;
				margin-bottom: 5px;
				transition: all .2s;
				.number {
					font-weight: 700;
					font-size: 35px;
				}
				.unit {
					&::before {
						content: '/';
					}
				}
			}

			.title {
				font-weight: 700;
				font-size: 16px;
				line-height: 1.5;
				color: $primary-color;
				text-transform: uppercase;
				margin-bottom: 30px;
			}

			.list-info {
				list-style-type: none;
				display: inline-block;
				text-align: left;
				margin: 0 auto 30px auto;

				li {
					font-weight: 400;
					font-size: 16px;
					line-height: 1.5;
					color: $text-color-01;
					word-break: break-word;
					margin-bottom: 0;
					padding: 20px 0px 20px 30px;
					position: relative;
					z-index: 0;
					transition: all .2s;

					&::before {
						content: '';
						display: block;
						width: 10000px;
						height: 100%;
						position: absolute;
						z-index: -1;
						top: 0;
						left: -5000px;
						background: #ebebeb;
						opacity: .3;
					}

					i {
						font-size: 18px;
						line-height: 1;
						color: $text-color-01;
						position: absolute;
						top: 22px;
						left: 0px;
					}

					&:nth-child(odd):before {
						display: none;
					}
				}
			}

			.btn-buy {
				font-weight: 700;
				font-size: 16px;
				line-height: 1.5;
				color: $title-color-01;
				text-transform: uppercase;
				display: inline-block;
				height: auto;
				border-radius: 0px;
				background: transparent;
				box-shadow: none;
				margin-top: 0px;
				padding: 0px 0px 6px 0px;
				position: relative;
				transition: all .5s;

				&::before {
					content: '';
					display: block;
					width: 100%;
					height: 3px;
					background: $primary-color;
					opacity: 1;
					position: absolute;
					top: auto;
					bottom: 0px;
					left: 0;
					right: auto;
				}

				&:hover {
					background: transparent !important;
					color: $primary-color !important;
					&:before {
						animation: scaleBorderBottomBtn 1s forwards;
						-webkit-animation: scaleBorderBottomBtn 1s forwards;
						-moz-animation: scaleBorderBottomBtn 1s forwards;
						-ms-animation: scaleBorderBottomBtn 1s forwards;
					}
				}
			}

			&:hover {
				&:before {
					opacity: 1;
				}

				.price {
					color: #fff;
				}
				.title {
					color: #fff;
				}

				.list-info {
					li {
						color: #fff;

						&::before {
							background: #fff;
							opacity: .1;
						}

						i {
							color: #fff;
						}
					}
				}

				.btn-buy {
					color: #fff;
				}
			}
		}
	}
}